body {
    background-color: #E0D9D9;
}



canvas {
	/*display: none;
	visibility: hidden;*/
	border: 1px solid #000; 
	background-color: gray; 
  width: 100%;
  height: auto;
}


.slider-row {
	display: none;
}

